.sidebar {
  flex: 3;

  position: sticky;
  top: 80px;
  height: fit-content;
  margin-left: 10px;
}
.sidebar__top {
  margin-top: 20px;

  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.sidebarListItems {
  display: flex;
  align-items: center;
}
.sidebarListItem {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.sidebar__listText {
  margin-left: 10px;
}
